body{
    background: url(background.jpg);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container{
    background: rgba(245, 245, 245, 0.79);
    max-width: 80%;
    margin:auto;
    border: 4px solid rgba(4, 0, 255, 0.885);
    border-radius: 20px;
}
h1{
    margin: 10px;
}
h2{
    margin: 10px;
    margin-top: 0;
    font-size: 50px;
}
button{
    display:block;
    padding: 10px 0;
    color: white;
    margin: auto;
    margin-bottom: 5px;
    border: 3px solid black;
    font-weight: bold;
    width: 200px;
    border-radius: 6px;
    font-size: 20px;
}
#increment{
    background-color: rgba(226, 211, 43, 0.87);
}
#save{
    background-color: rgba(0, 128, 0, 0.837);
}
p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    width: 40%;
    align-content: center;
    margin: auto;
    color: crimson;
    margin-top: 20px;
    margin-bottom: 10px;
}